# Gautams
# Cross-platform ls with colors
/bin/ls --color=tty -d /bin/ls > /dev/null 2>&1
if [ $? -eq 0 ]; then
  alias ls='ls --color=tty'
else
  alias ls='ls -G'
fi

alias lt='ls -altr'
alias sl='ls'

# Git (overrides git zsh defaults)
alias gcp='git commit -am cp'
alias gg='git grep'
alias gdm='git diff master'
alias gdmo='git diff master --name-only'
alias gmm='git merge master'

# Shortcuts to folders
alias wk='cd $HOME/source/com.tappmo'
alias ops='cd $HOME/source/ops'
alias ginx='cd $HOME/source/ginx'
alias rp='$HOME/source/com.tappmo/scripts/remote_precommit.sh &'

alias pylab='ipython --pylab'

# Maven
alias mk='mvn clean install -T 4 -DskipTests'
alias mki='mvn clean install -T 2 -Dintegration'
alias mkt='mvn clean install -T 4'
alias mclean='rm -rf ~/.m2/repository/com/goindex/*'

# Blaze
alias b='blaze'
alias bb='blaze build'
alias bt='blaze test'
alias btu='blaze test -u'
alias bac='blaze clean'
alias bi='blaze intellij'
alias br='blaze release'

# Phabricator
alias adp='arc diff --preview --browse'
alias adpo='arc diff --preview --browse'
alias al='arc lint'
